body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Color de fondo opcional */
}

canvas {
    border: 1px solid black; /* Borde opcional alrededor del canvas */
}
